# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Local configuration
config.json
*.local.json

# System files
.DS_Store
Thumbs.db
config/config_private.yaml

# Development files
notes.md
resources/stereo_test_resampled.wav
mypy.ini
config/settings.yaml
.logfire/logfire_credentials.json
commodity.json

#Runtime data
mining_logger.db
cache/

# Runtime debug files
screenshot.png
cropped_image.png
cache/*
screenshots/*
locations.json
